/* General styles for the whole app */
@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Regular.ttf') format('truetype');  /* Relative to public folder */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Bold.ttf') format('truetype');  /* Relative to public folder */
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

h1, h2 {
  font-family: Roboto, sans-serif;
  margin: 0;
  color: #153448;
}

/* Optional: Styles for other components or global layout */
